.dashboard {
    height: 100vh;
    display: flex;
    justify-content: stretch;
    gap: 2rem;
}

#sidebar {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border: 3px solid red;
}