.dashboard {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

header,
.fake-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 11vh;
    padding: 0 4rem;
    border-bottom: 2px solid rgb(94, 94, 94, .1);
}

.fake-header {
    box-shadow: 0px 20px 40px -30px rgb(94, 94, 94);
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
}

li {
    list-style-type: none;
}

#detail {
    margin: 3rem 4rem;
    display: flex;
    gap: 1rem;
    border: 3px solid red;
    height: 100%;
}