.bank-card {
    border-radius: 10px;
    width: 22rem;
    height: 9rem;
    padding: 1rem;
    background-color: rgb(94, 94, 94, .08);
    border: 2px solid rgb(94, 94, 94, .03);
    margin-bottom: 2rem;
}