.fdst-new-account {
    display: flex;
    align-items: center;
    border: none;
    width: 65%;
}

.new-account {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;

    background-color: white;
    border: 2px solid rgb(94, 94, 94, .03);
    border-radius: 7px;
}